.accordion {
  width: 500px;
  margin: 0 auto;
}
.accordion-trigger {
  margin: 0;
  padding: 10px;
  display: block;
  background: #ffa500;
  color: #000;
  border-top: 1px double #fff;
  border-radius: 10px 10px 10px 10px;
}
.accordion-contents {
  margin: 0;
  padding: 10px;
  background: #ffe7bf;
  border: 1px double #ccc;
  border-radius: 10px 10px 10px 10px;
  display: none;
}

p {
  cursor: pointer;
}

.responsive {
  width: 100%;
  aspect-ratio: 16/9;
}
